html, body {
	height  : 100%;
	width   : 100%;
	margin  : 0;
	padding : 0;
	}

.container {
	display               : grid;
	height                : 100%;
	background-color      : rgba(198, 192, 70, 0.35);
	grid-template-columns : repeat(12, 1fr);
	grid-template-rows    : 50px 1fr 50px;
	grid-template-areas   : "h h h h h h h h h h h h" "m m c c c c c c c c c c" "m m f f f f f f f f f f";
	}

.header {
	grid-area        : h;
	background-color : rgba(198, 119, 64, 0.35);
	}

.main {
	grid-area        : m;
	background-color : rgba(35, 186, 198, 0.35);
	}

.content {
	grid-area : c;
	}

.footer {
	grid-column      : f;
	background-color : rgba(198, 119, 64, 0.35);
	}