html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.center-children {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: rgba(198, 192, 70, 0.35);
}

.header {
	background-color: rgba(198, 119, 64, 0.35);
}

.header > div {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.header > div > div{
	margin: 5px 20px;
	background-color: rgba(81,81,40,0.35);
	padding: 2px 20px;
	align-self: center;
	width: auto;
}

.content{
	display: flex;
	height: 100%;
}

.user-detail {
	background-color: rgba(35, 186, 198, 0.35);
	flex: 1;
}

.user {
	background-color: aqua;
	width: 50%;
	height: 30%;
	margin: 20px;
}

.quotes {
	flex: 2;
	order: 2;
}

.jumbotron {
	background-color: aqua;
	width: 70%;
	height: 70%;
	margin: 20px;
}

@media screen and (max-width: 720px) {
	.content {
		flex-direction: column-reverse;
	}
}